version: '3.3'
services:
  kiwix-serve:
      ports:
        - 8080:80
      image: kiwix/kiwix-serve
      # uncomment next 4 lines to use it with local zim file in /tmp/zim
      # volumes:
      #   - /tmp/zim:/data
      # command:
      #   - *.zim
      # uncomment next 2 lines to use it with remote zim file
      # environment:
      #   - 'DOWNLOAD=https://download.kiwix.org/zim/wikipedia_bm_all.zim'
