<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <title>Welcome to Kiwix Server</title>
  <script type="text/javascript" src="/skin/jquery-ui/external/jquery/jquery.js"></script>
  <script type="text/javascript" src="/skin/jquery-ui/jquery-ui.min.js"></script>
  <link type="text/css" href="/skin/jquery-ui/jquery-ui.min.css" rel="Stylesheet" />
  <link type="text/css" href="/skin/jquery-ui/jquery-ui.theme.min.css" rel="Stylesheet" />
  __BOOKS_STYLE__
<script>
$(function() {
$( "#accordion" ).accordion();
});
</script>
</head>
<body class="kiwix">

<div class="kiwix">
  __BOOKS__
</div>
</body>
</html>
