#kiwixtoolbar {
    position: fixed;
    padding: .5em;
    left:0;
    right:0;
    top: 0;
    z-index:100;
}

#kiwixtoolbar > a {
    float: left;
}

.height_separator {
    height: 3em;
}

#kiwixsearchbox {
    width: 20em;
}

.kiwixsearch {
    float: right;
}

/* Try to fix buggy stuff in jquery-ui autocomplete */
#ui-id-1, .ui-autocomplete {
    background: white !important;
    border: solid 1px grey !important;
}

li.ui-state-focus {
    font-weight: bold;
}

/* Specific CSS for Bookeen Cybook device (800x600 B&W ereader) */
.cybook #kiwixtoolbar button, .cybook #kiwixtoolbar input {
    font-size: 1.5em;
}
.cybook #kiwixsearchbox {
    width: 7em;
}
.cybook a {
    text-decoration: underline;
}

/* the breakpoint "600px" is the width of the 3 btns "library", "home" and "randoml" */
@media (max-width: 600px) {
    .kiwixsearch {
        float: none;
        margin-top: 5px;
    }
    #kiwixsearchbox {
        width: 65%;
    }
    #kiwixsearchform input[type="submit"] {
        width: 30%;
    }
    .height_separator {
        height: 6em;
    }
}
