#kiwixtoolbar {
    position: fixed;
    padding: 4px 15px 5px 15px;
    margin-left: -10px;
    margin-right: -10px;
    left:0;
    right:0;
    top: 0px;
    z-index:100;
}

#kiwixhome {
    margin: 0px;
    float: left;
}

#kiwixlibrary {
    margin: 0px;
    float: left;
}

#kiwixrandom {
    margin: 0px;
    float: left;
}

#kiwixsearchbox {
    margin: 0px;
    float: right;
    width: 300px;
}

#kiwixsearch {
    margin: 0px;
    float: right;
}

/* Try to fix buggy stuff in jquery-ui autocomplete */
#ui-id-1 {
    background: white;
    border: solid 1px grey;
}

li.ui-state-focus {
    font-weight: bold;
}