#kiwixtoolbar {
    position: fixed;
    padding: .5em;
    left:0;
    right:0;
    top: 0;
    z-index:100;
    max-height: 2em;
}

#kiwixsearchbox {
    width: 20em;
}

.kiwixsearch {
	float: right;
}s

/* Try to fix buggy stuff in jquery-ui autocomplete */
#ui-id-1 {
    background: white !important;
    border: solid 1px grey !important;
}

li.ui-state-focus {
    font-weight: bold;
}

/* Specific CSS for Bookeen Cybook device (800x600 B&W ereader) */
.cybook #kiwixtoolbar button, .cybook #kiwixtoolbar input {
	font-size: 1.5em;
}
.cybook #kiwixsearchbox {
	width: 7em;
}
.cybook a {
	text-decoration: underline;
}

@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5/1),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    #kiwixtoolbar button, #kiwixtoolbar input {
    	font-size: 2em;
    }
    #kiwixsearchbox {
		width: 7em;
	}
}
