#kiwixtoolbar {
    position: fixed;
    padding: .5em;
    left:0;
    right:0;
    top: 0;
    z-index:100;
}

#kiwixtoolbar > a {
    float: left;
}

.height_separator {
    height: 3em;
}

#kiwixsearchbox {
    width: 20em;
}

.kiwix .kiwix_centered {
    max-width: 720px;
    margin: 0 auto;
}
.kiwix .kiwix_button_wrapper {
    float: left;
}
.kiwix .kiwix_searchform {
    float: right;
}
.kiwix #kiwixtoolbar button,
.kiwix #kiwixtoolbar input[type="submit"] {
    box-sizing: border-box !important;
    height: 26px !important;
    line-height: 20px !important;
    margin-right: 5px !important;
    padding: 2px 6px !important;
    border: 1px solid #999 !important;
    border-radius: 3px !important;
    background-color: #ededed !important;
    font-weight: normal !important;
    cursor: pointer !important;
    font-size: 16px !important;
}
.kiwix #kiwixtoolbar a {
    margin-bottom: 5px;
}
.kiwix #kiwixtoolbar #kiwixsearchform input[type='text'] {
    box-sizing: border-box !important;
    height: 26px !important;
    line-height: 20px !important;
    border: 1px solid #999 !important;
    border-radius: 3px !important;
    background-color: #fff !important;
    padding: 2px 2px 2px 3px !important;
    font-size: 16px !important;
}

/* Try to fix buggy stuff in jquery-ui autocomplete */
#ui-id-1, .ui-autocomplete {
    background: white !important;
    border: solid 1px grey !important;
}

li.ui-state-focus {
    font-weight: bold;
}

/* the breakpoint "645px" is the width of the 3 btns "library", "home" and "randoml" */
@media (max-width: 645px) {
    .kiwixsearch {
        float: none;
        margin-top: 5px;
    }
    #kiwixsearchbox {
        width: 65%;
    }
    #kiwixsearchform input[type="submit"] {
        width: 28%;
    }
    .height_separator {
        height: 6em;
    }
}
